@media (max-width: 767px) {
	#logo img {
		position: relative;
		left: 50%;
		margin-left: -138px;
	}

	header #logo{
		margin-bottom: 10px;
	}

	header nav{
		margin-top: 0px;
		width: 100%;
		text-align: center;
	}

	header nav{
		display: inline;
	}

	header nav a{
		padding: 10px 5px;
	}

	#result-data-small h1{
		font-size: 20px;
		margin-top: 18px;
	}

	#results-display{
		float: none;
		top: 0px;
		margin: 10px 0px;
	}

	#results-sorting{
		display: block;
		float: none;
	}

	.result-single{
		width: 100%;
		margin-bottom: 10px;
	}

}

@media (min-width: 768px) and (max-width: 991px) {

	.result-single{
		width: 47%;
		margin: 1.5%;
	}
	.sidebar-visible .result-single{
		width: 100%;
		margin-bottom: 10px;
	}

}

@media (min-width: 992px) and (max-width: 1199px) {
	.result-single{
		width: 24%;
		margin: 0.5%;
	}
	.sidebar-visible .result-single{
		width: 32%;
		margin: 0.65%;
	}

}
@media (min-width: 1200px) {
	.result-single{
		width: 19%;
		margin: 0.5%;
	}
	.sidebar-visible .result-single{
		width: 23.5%;
		margin: 0.75%;
	}
}