<div class="alert alert-danger" ng-if="pageGestures.length == 0">
  <strong>Sorry, no gestures found for the current filters.</strong>
</div>
<div id="masonry-container" masonry preserve-order reload-on-resize masonry-options="{percentPosition: true}">
<div class="masonry-brick result-single" 
	ng-repeat="gesture in pageGestures" ng-model="resultWidth">

  <div class="result-single-data">

    <div ng-repeat="(field, value) in gesture" ng-if="schema[field].video">

        <youtube-thumb
          video-id="value"
          player-width="'100%'"
          player-height="'200px'">
      </youtube-thumb>

    </div>

    <div ng-repeat="(field, value) in gesture">

        <h1 ng-if="schema[field].title" class="result-single-title">{{ value }}</h1>

    </div>
  	

    <div ng-repeat="(field, value) in gesture">

    	<p ng-if="schema[field].shown && !schema[field].title"><strong>{{ schema[field].name | capitalize }}</strong>: {{ value }} </p>

    </div>

  </div>
</div>
</div>

<div class="clearfix"></div>