<div vertilize class="result-single" 
	ng-repeat="gesture in pageGestures | orderBy:sorting">

  <div class="result-single-data">

  	<youtube-video 
  		video-id="gesture.youtubeid" 
  		player-width="'230px'" 
  		player-height="'200px'">
  	</youtube-video>

    <div ng-repeat="(field, value) in gesture">

    	<p ng-if="schema[field].visibility"><strong>{{ schema[field].name | capitalize }}</strong>: {{ value }} </p>

    </div>

    <a class="result-single-detail" href="">CLICK TO VIEW DETAILS</a>

  </div>
</div>

<div class="clearfix"></div>