<div vertilize class="result-single" 
	ng-repeat="gesture in pageGestures">

  <div class="result-single-data">

    <div ng-repeat="(field, value) in gesture">

        <youtube-thumb ng-if="schema[field].video"
          video-id="value"
          player-width="230"
          player-height="200">
      </youtube-thumb>

    </div>

    

    <div ng-repeat="(field, value) in gesture">

        <h1 ng-if="schema[field].title" class="result-single-title">{{ value }}</h1>

    </div>
  	

    <div ng-repeat="(field, value) in gesture">

    	<p ng-if="schema[field].visibility && !schema[field].title"><strong>{{ schema[field].name | capitalize }}</strong>: {{ value }} </p>

    </div>

    <a class="result-single-detail" href="" ng-click="showDetails(gesture.rowNumber)">CLICK TO VIEW DETAILS</a>

  </div>
</div>

<div class="clearfix"></div>