<div class="alert alert-danger" ng-if="pageGestures.length == 0">
  <strong>Sorry, no gestures found for the current filters.</strong>
</div>

<div class="chart-wrapper" ng-repeat="chart in charts">

	<div class="chart-utils">
		<button class="btn btn-sm btn-danger" ng-click="removeChart($index)">Remove</button>
	</div>

	<div class="chart-holder">

	<canvas ng-if="chart.type == 'bar'" class="chart chart-bar" chart-data="chart.data" chart-labels="chart.labels" chart-legend="true" chart-series="chart.series"></canvas> 

	<canvas ng-if="chart.type == 'line'" class="chart chart-line" chart-data="chart.data" chart-labels="chart.labels" chart-legend="true" chart-series="chart.series"></canvas>

	<canvas ng-if="chart.type == 'radar'" class="chart chart-radar" chart-data="chart.data" chart-labels="chart.labels" chart-legend="true" chart-series="chart.series"></canvas>
	
	</div>
</div>



<div class="container-fluid">
	<div class="row" id="add-chart" class="chart-wrapper">
		<div class="col-sm-4" style="padding-rigth: 10px;">
			<h3>Create chart</h3>
			<form>
				<p> 
					<label for="chart-type">Chart type</label> <br/>
					<select name="chart-type" id="chart-type" ng-model="chartBuilder.type" ng-change="updateChart()">
						<option value="bar">Bar chart</option>
						<option value="line">Lines chart</option>
						<option value="radar">Radar chart</option>
						
					</select>
				</p>

				<p> 
					<label for="chart-x">X</label> <br/>
					<select name="chart-x" id="chart-x" ng-model="chartBuilder.x" ng-change="updateChart()">
						<option value="{{ opt.field }}" ng-if="opt.shown" ng-repeat="opt in schemaList">{{ opt.name | capitalize }}</option>
					</select>
				</p>

				<p> 
					<label for="chart-y">Y</label> 
					<span>
						<input type="checkbox" ng-model="chartBuilder.qty" ng-change="updateChart()" /> Number of items
					</span> <br/>
					<select ng-disabled="chartBuilder.qty" name="chart-y" id="chart-y" ng-model="chartBuilder.y" ng-change="updateChart()">
						<option value="{{ opt.field }}" ng-if="opt.shown" ng-repeat="opt in schemaList">{{ opt.name | capitalize }}</option>
					</select>
				</p>

				<button style="margin-bottom: 30px;" class="btn btn-primary" ng-click="addChart()">Add chart</button>
			</form>
		</div>
		<div class="col-sm-8">
		
			<canvas ng-if="chartBuilder.type == 'bar'" class="chart chart-bar" chart-data="chartBuilder.chart.data" chart-labels="chartBuilder.chart.labels" chart-legend="true" chart-series="chartBuilder.chart.series"></canvas> 

			<canvas ng-if="chartBuilder.type == 'line'" class="chart chart-line" chart-data="chartBuilder.chart.data" chart-labels="chartBuilder.chart.labels" chart-legend="true" chart-series="chartBuilder.chart.series"></canvas>

			<canvas ng-if="chartBuilder.type == 'radar'" class="chart chart-radar" chart-data="chartBuilder.chart.data" chart-labels="chartBuilder.chart.labels" chart-legend="true" chart-series="chartBuilder.chart.series"></canvas>


			 
		</div>
	</div>
</div>

<div class="clearfix"></div>