<div ng-repeat="(field, value) in item">

    <div ng-if="schema[field].title" class="modal-header">
	    <h3 class="modal-title">{{ value }}</h3>
	</div>

</div>

<div class="modal-body">

    <div ng-repeat="(field, value) in item">

    	<p ng-if="schema[field].visibility && !schema[field].title"><strong>{{ schema[field].name | capitalize }}</strong>: {{ value }} </p>

    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="$dismiss()">Close</button>
</div>