<div class="modal-header" ng-repeat="(field, value) in item" ng-if="schema[field].title">
	 <h3 class="modal-title">{{ value }}</h3>
</div>

<div class="modal-body">

    <div class="container-fluid">

      <div class="col-md-6">

          <youtube-thumb ng-repeat="(field, value) in item" ng-if="schema[field].video"
            video-id="value"
            player-width="400"
            player-height="400">
          </youtube-thumb>

          <a href="" ng-click="showDetails(7)">CLICK TO VIEW DETAILS</a>


          <br style="clear: both" />

      </div>

      <div class="col-md-6" id="details-modal-content">

          <p ng-repeat="(field, value) in item" ng-if="schema[field].visibility && !schema[field].title">
            <strong><span>{{ schema[field].name | capitalize }}</span></strong>
            {{ value }} 
          </p>

      </div>

    </div>

    

    

    

</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="$dismiss()">Close</button>
</div>