<!doctype html>
<html lang="en" ng-app="gesturesApp">
<head>
  <meta charset="utf-8">
  <title>Gestures Catalog</title>

  <!-- CSS -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/ui-select/dist/select.css">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
  <link rel="stylesheet" href="bower_components/angular-toggle-switch/angular-toggle-switch.css">
  <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.min.css">
  <link rel="stylesheet" href="bower_components/angular-loading/angular-loading.css">
  <link rel="stylesheet" href="bower_components/angular-carousel/dist/angular-carousel.min.css">
  <link rel="stylesheet" href="css/default.css">

  <!-- Javascript (dependencies) -->
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
  <script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
  <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="bower_components/tabletop/src/tabletop.js"></script>
  <script type="text/javascript" src="bower_components/angular-filter/dist/angular-filter.min.js"></script>
  <script type="text/javascript" src="bower_components/ui-select/dist/select.js"></script>
  <script type="text/javascript" src="bower_components/checklist-model/checklist-model.js"></script>
  <script type="text/javascript" src="bower_components/angular-vertilize/angular-vertilize.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-toggle-switch/angular-toggle-switch.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-resource/angular-resource.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
  <script type="text/javascript" src="bower_components/spin.js/spin.js"></script>
  <script type="text/javascript" src="bower_components/angular-loading/angular-loading.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-touch/angular-touch.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-carousel/dist/angular-carousel.min.js"></script>
  <script src="https://www.youtube.com/iframe_api"></script>
  <script type="text/javascript" src="bower_components/angular-youtube-mb/dist/angular-youtube-embed.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-microtext/angular-microtext.js"></script>

  <!-- Javascript (application) -->
  <script type="text/javascript" src="js/utils.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/services.js"></script>
  <script type="text/javascript" src="js/controllers.js"></script>
  <script type="text/javascript" src="js/filters.js"></script>
  <script type="text/javascript" src="js/directives.js"></script>
  
  <script type="text/javascript">
  $(document).ready(function(){

    $('.filter-header a').click(function(e){
      $(this).closest('.filter').toggleClass('visible');
      e.preventDefault();
    });

    var sidebarVisible = true;

    $('#hide-sidebar').click(function(e){

      var svg = $(this).children("svg");

      if(sidebarVisible){
        svg.attr("class", "hide-sidebar-up");
        $('#sidebar').slideUp(400, function(){
          $('#results').removeClass('col-md-9');
          $('#results').addClass('col-md-12');
        });
        
      }else{
        svg.attr("class", "hide-sidebar-down");
        $('#sidebar').slideDown();
        $('#results').removeClass('col-md-12');
        $('#results').addClass('col-md-9');
      }

      sidebarVisible = !sidebarVisible;
      e.preventDefault();
    });

  })
  </script>

</head>
<body ng-controller="GesturesListCtrl">

  <div class="container-fluid">

    <header class="row">
      <div class="col-md-4">
        <a href="#" id="logo">
          <img src="img/logo.png" />
        </a>
      </div>

      <div class="col-md-offset-3 col-md-5">
        <nav>
          <li>
            <a ui-sref="cards">HOME</a>
          </li>
          <li>
            <a href="#" data-toggle="modal" data-target="#about-modal">ABOUT</a>
          </li>
          <li id="voxar">
            <a href="http://cin.ufpe.br/~voxarlabs"> <img src="img/voxar.png" /> </a>
          </li>
        </nav>
      </div>
    </header>

    <div id="loading-wrapper">

      <div dw-loading="data" 
        dw-loading-options="{
          active:true, 
          overlay: true,
          text: 'Loading data... Please wait.',
          spinnerOptions: {
            lines: 9 
            , length: 13 
            , width: 6 
            , radius: 9
            , corners: 1
            , color: '#000'
            , opacity: 0.25
            , rotate: 0
            , direction: 1
            , speed: 1
            , trail: 60
            , fps: 20
          }
        }"></div>

      <div id="pre-content" class="row">
        <div id="filters" class="col-md-3">
          <h1>FILTERS</h1>

          <a id="hide-sidebar" href="" tooltip="Toggle sidebar visibility">
            <svg class="hide-sidebar-down" width="30px" height="30px" viewBox="0 0 70 90" xml:space="preserve">
              <polyline fill="none" stroke="#FFFFFF" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" points="45.63,80.8 0.375,43.087 45.63,5.375 "/>
            </svg>
          </a>

          <a id="clear-filters" href="" ng-click="clearFilter()" tooltip="Reset all the filters">
            <img src="img/clear_icon.png" />
            <span>CLEAR</span>
          </a>

        </div>

        <div id="result-data" class="col-md-9">
          <h1><strong>{{ filteredGestures.length }}</strong> gestures found</h1>
        </div>
      </div> <!-- End Content -->

      <div id="content" class="row">

        <div id="sidebar" class="col-md-3">

          <div class="filter visible" ng-repeat="f in schemaList | filter: {filterable:true}">

            <div class="filter-header">
                <h2>
                  <a href="#" filter-drawer>
                    <span class="filter-name">{{ f.name | uppercase }}</span>
                  </a>
                  <toggle-switch tooltip="Click to toggle the visibility of this property on cards/table"
                    ng-click="updateColumns()"
                    ng-model="schema[f.field].visibility"
                    knob-label="VISIBLE"
                    on-label="VISIBLE"
                    off-label="HIDDEN"><toggle-switch>
                </h2>
            </div>
            
            <div class="filter-content">
              <input ng-if="f.filter.input == 'text-field'" ng-change="doFilter()" type="text" ng-model="criteria[f.field]" placeholder="{{ f.filter.placeholder }}" />

              <ui-select multiple ng-if="f.filter.input == 'select'" ng-change="doFilter()"
                  ng-model="criteria[f.field]" 
                  title="Choose tasks" 
                  append-to-body="true">
                <ui-select-match placeholder="{{ f.filter.placeholder }}">{{$item}}</ui-select-match>
                <ui-select-choices repeat="opt in f.filter.options | filter:$select.search">
                  {{ opt }}
                </ui-select-choices>
              </ui-select>


              <ul class="checkbox-list" ng-if="f.filter.input == 'checkbox'">
                <li ng-repeat="opt in f.filter.options">
                  <input checklist-change="doFilter()" type="checkbox" checklist-model="criteria[f.field]" checklist-value="opt"  id="{{ f.field }}-{{ opt }}" />
                  <label for="{{ f.field }}-{{ opt }}" class="checkbox-label"> {{ opt }} </label>
                </li>
              </ul>

            </div>

          </div> <!-- End Filter -->

        </div> <!-- End Sidebar -->

        <div id="results" class="col-md-9">

          <div id="results-utils">

            <div class="dropdown">
              Sorted by
              
              <a href="#" data-toggle="dropdown">
                <strong>{{ sorting.name }}</strong>
                <span class="caret"></span>
              </a>

              <ul class="dropdown-menu">

                <li ng-repeat="f in schemaList | filter: {sortable:true}">
                  <a ng-click="doSort(f['field'])">{{ f.name }}</a>
                </li>
                
              </ul>
            </div>

            <div id="results-display">
              Displaying as
              <a tooltip="Cards" ui-sref="cards" ui-sref-active="active"><span class="glyphicon glyphicon-th"></span></a>
              <a tooltip="Table" ui-sref="table" ui-sref-active="active"><span class="glyphicon glyphicon-list"></span></a>
            </div>

            <div class="clearfix"></div>

          </div> <!-- End Results utils -->

          <div vertilize-container id="results-container">

            <div ui-view></div>

            <pagination
              max-size="15"
              ng-model="currentPage"
              items-per-page="10"
              total-items="filteredGestures.length"></pagination>

          </div>

        </div>
      </div>

    </div>

  </div>


  <div class="modal fade" id="about-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content" ng-include="'partials/about.html'">
      
    </div>
  </div>
</div>

</body>
</html>